/*
    Document   : html.css
    Created on : 2015-09-10 05:37 PM
    Author     : Josesoswag
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/

root {
    display: block;
}