/*
    Document   : html.css
    Created on : 2015-09-10 05:37 PM
    Author     : Josesoswag
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/

 body {
    background-color:#336699;
    text-align:center;
    font-family:"Comic Sans MS", cursive, sans-serif;
}
li {
    text-align:center;
    color:white;
    font-family:"Arial Black", Gadget, sans-serif;
    display:inline-block;
}
a {
    color: black;
    transform: rotateX(0deg);
    transition:0.5s all linear;
}
a:hover {
    color: blue;
    transform: rotateX(360deg);
}
    
em:hover{
    color:turquoise;
        transform: rotateX(360deg);

}
