
h1 {
    color:Black;
    font-family:"Comic Sans MS", cursive, sans-serif;
}
h3 {
    color:Black;
    font-family:"Comic Sans MS", cursive, sans-serif;
}

h4{
    color:Black;
    font-family:"Comic Sans MS", cursive, sans-serif;
    text-align:center;
    
}
h5 {
    color:blue;
    
}
em {
    color:#990000;
}
em:hover{
    color:#00b36a;
        transform: rotateX(360deg);
}
img:hover{
    color:turquoise;
        transform: rotateX(360deg);
}

li {
    text-align:center;
    color:black;
    font-family:"Arial Black", Gadget, sans-serif;
    display:inline-block;
}

a{
    color: black;
    transform: rotateX(0deg);
        transition:0.5s all linear;
    
}
a:hover{
    color:#990000;
        transform: rotateX(360deg);
}
